*
{
    box-sizing: border-box;
}
.container{
    position: relative;
    background-image: url("images/bglight.png");
}

.navbar{
    background-color: orangered;
    height: 80px;
}
.active{
    display: inline;
    list-style-type: none;
    padding: 20px;
    font-family: Aniron;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: Aniron;
    text-align: center;
}
p{
    font-family: Party Business;
    font-size: 25px;
}
footer{
    background-color: orangered;
}
.flex{
    display:flex;
}

@mixin circle-ring {
  position: relative;
  background:white;
  border-radius:50%;
  width:50px;
  height:50px;
} 

.circle{
    @include circle-ring;
    border:6px solid orangered;
    margin-left: 450px;
}
.circle-second {
    @include circle-ring;
    border: 6px solid orangered;
}
.onering {
    position: relative;
    border:15px solid gold;
    box-shadow: 1px 1px 2px 4px #cc9900;
    background-color: white;
    border-radius:50%;
    width:200px;
    height:200px;
}

@for $i from 1 through 6 {
    .circle-#{$i} {
        position: relative;
        display: inline-block;
        border-radius:50%;
        width: 20px*$i;
        height: 20px*$i;
        border:5px solid #404040;
        box-shadow:1px 1px 1px*$i 1px #404040;
        filter: drop-shadow(4px 3px 3px black);
        margin-right:-8px*$i;
        margin-top: -10px*$i

    }
}
